<!DOCTYPE html>
<html lang="zh-CN" ng-app="test">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模块化</title>
    <script src="../angular.js" charset="UTF-8"></script>
    <script>
        let mod_1 = angular.module('test1', [])
        mod_1.controller('ctrl1', function ($scope) {
            $scope.a = 0;
        });
        let mod_2 = angular.module('test2', [])
        mod_2.controller('ctrl2', function ($scope) {
            $scope.b = 0;
        });
        let mod = angular.module('test', ['test1', 'test2'])
        mod.controller('ctrl', function ($scope) {
        });
    </script>
</head>

<body ng-controller="ctrl">
    <input type="text" ng-model="a"> {{a}}
    <br>
    <input type="text" ng-model="b"> {{b}}
</body>

</html>