<!DOCTYPE html>
<html lang="zh-CN" ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angularjs</title>
    <script src="angular.js" charset="UTF-8"></script>
    <style>
        div {
            min-height: 50px;
            background-color: aquamarine;
        }
    </style>
    <script>
        // window.onload = function () {
        //     let input1 = document.getElementById("input1");
        //     let div1 = document.getElementById("div1");

        //     input1.oninput = function () {
        //         div1.innerHTML = input1.value
        //     };
        // };
    </script>
</head>

<body>
    <input type="text" id="input1" ng-model="a">
    <div id="div1" ng-bind="a"></div>
    <hr>
    <input type="text" id="input2" ng-model="b">
    <div id="div2" ng-init="b='qinkai';">
        我在输入什么：{{b}}
    </div>
    <hr>
    <input type="text" id="input3" ng-model="c">
    <input type="text" id="input4" ng-model="d">
    <div id="div3" ng-init="c=0;d=0;">
        相乘：{{c * d}}
    </div>
    <hr>
    <div ng-init="arr1=[1,2,3,4,4]">
        <ul>
            <li ng-repeat="item in arr1 track by $index">{{item}}</li>
        </ul>
    </div>
    <hr>
    <div ng-init="arr2=[{user:'qinkai',age:13},{user:'zhangsan',age:13},{user:'qinkai',age:13},{user:'lisi',age:19}]">
        <ul>
            <li ng-repeat="item in arr2">{{item.user}}</li>
        </ul>
    </div>
</body>

</html>