body {
    height: 3000px;
}

.page-header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: orange;
}

.item {
    background-color: aqua;
}

.first {
    background-color: antiquewhite;
    font-size: 40px;
    position: sticky;
    top: 0px;
}